.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 4rem;
  border-bottom: 1px solid #eaeaea;
  background-color: var(--color-grey-15);
  color: var(--color-white);
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
}

.mainMenu {
  display: flex;
  gap: 1rem;
}

.avatar {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
